.email_form {
    display: flex;
    width: 60%;
    flex-direction: column;
    position: relative;
    left: 20%;
    text-align: center;
}

.form_input {
    padding: 10px;
    margin-top: 10px;
    background-color: #242739;
    border: none;
    color: white;
    outline: none;
    text-align: center;
}

.desc {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.form_input:focus {
    outline: 1px solid white;
}

#body_input {
    height: 40vh;
    margin-top: 10px;
}